.bam_beliefs img {
  border-radius: 150px;
  padding-bottom: 20px;
}
.bam_beliefs  {
  border-radius: 150px;
  padding-bottom: 20px;
}
.bam_beliefs {
  text-align: center;
}
.bam_beliefs h3{
  font-weight: 900
}