#block-block-69 .btn{
    border-radius: 0px;
    font-size: 13px;
    line-height: 1.8;
    padding: 10px 15px;
}
#block-block-95 {
    margin: 20px 130px 80px 130px;
}
#block-block-95 h2{
    text-transform: none;
    
}
#block-block-95 .btn{
    font-size: 26px;
    font-weight: 900;
    border-radius: 0px;
}